@import url("https://use.typekit.net/hdp1bnn.css");
@import url('../fonts/stylesheet.css');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities {
  @screen md {
    h1 {
    @apply text-cfs2XL;
    }
    h2 {
      @apply text-cfsXL;
    }
    h3 {
      @apply text-cfsL;
    }
    h4 {
      @apply text-cfs;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      @apply text-cfsSM;
      @apply break-words;
    }
    h5 {
      @apply text-cfsSM1;
    }
    h6 {
      @apply text-cfsSM2;
    }
  }
}

@layer base {
  html, body {
    @apply font-sainteColombe;
    @apply subpixel-antialiased;
    width: 100%;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .h-screen-80 {
    height: calc(100vh - 80px);
  }
  .h-screen-60 {
    height: calc(100vh - 60px);
  }
  .h-screen-48 {
    height: calc(100vh - 48px);
  }
  h1 {
    @apply text-4xl;
    line-height: 1;
  }
  h2 {
    @apply text-cfsL;
  }
  h3 {
    @apply text-cfs;
  }
  h4 {
    @apply text-cfs;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    @apply text-cfsSM1;
    @apply break-words;
  }
  h5 {
    @apply text-cfsSM2;
  }
  h6 {
    @apply text-cfsSM2;
  }
  .mt-18 {
    margin-top: 4.5rem;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .leaflet-container {
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  /* #locationInfo {
    display: none;
  }

  #tileLocation:hover #locationInfo {
    display: block;
  } */

  .slick-prev:before,
  .slick-next:before {
    color: grey !important;
  }

  .slick-prev {
    left: 25px !important;
    z-index: 10;
  }
  
  .slick-next {
    right: 25px !important
  }

  #column {
    min-height: 37rem;
  }

  /* .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
      display: block;
  } */
}

@media (max-width:767px) {
  .slick-prev {
    left: 6px !important;
  }
  .slick-next {
    right: 6px !important
  }
}