@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Sainte-Colombe';
  src: local('Sainte-Colombe'), url(../fonts/saintecolombe-regular-TRIAL.otf) format('otf');
}

@tailwind utilities;

@layer utilities {
  body {
    font-family: 'main';
  }
  .h-screen-80 {
    height: calc(100vh - 80px);
  }
  h1 {
    @apply text-H1;
  }
  h2 {
    @apply text-H2;
  }
  h3 {
    @apply text-H3;
  }
  h4 {
    @apply text-normal;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    @apply text-normal;
  }
  h5 {
    @apply text-small;
  }
  h6 {
    @apply text-tiny;
  }

  .leaflet-container {
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
      display: block;
  }

}

/* @import '~leaflet/dist/leaflet.css'; */